
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Deneme.cshtml";
}

<h3 class="col-md-offset-6" style="color:#d8d03e; background-color:rgb(80 115 186);text-align:center;">
    <b>TestController'ın Index Action'ının View Sayfası</b>
</h3>

