
@{
    ViewBag.Title = "Test2";
    Layout = "~/Views/Shared/_Deneme.cshtml";
}

<h3 class="col-md-offset-6" style="color:#2ed4bb; background-color:rgb(21 77 12);text-align:center;">
    <b>TestController'ın Test2 Action'ının View Sayfası</b>
</h3>

