
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Kategori</th>
        <th>Durum</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Spor</th>
        <th>Aktif</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Yazılım</th>
        <th>Aktif</th>
    </tr>
</table>