@using EntityLayer.Concreate
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered table-hover">
    @*table-border=Kenarlıklı bir tablo yapısı sağlar.*@
    @*table-hover=Üzerine gelindiğinde satırı gri yapar ve satırı belirgin kılar.*@
    <tr>
        @*(Table Row)*@
        <th>#</th>     @*(Table Head)*@
        <th>Kategori Adı</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryID</th>       @*Bu sütun kalın olsun diye td değil th kullandık*@
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="/AdminCategory/KategoriSil/@item.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/AdminCategory/KategoriGüncelle/@item.CategoryID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-primary">Başlıklar</a></td>
        </tr>
    }
</table>
<a href="/AdminCategory/KategoriEkle" class="btn btn-info">Yeni Kategori Ekle</a>
