
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Veri Tabanı'nda Kayıtlı Olan Toplam Kategori Sayısı Aşağıdaki Gibidir</h2>

<div class="form-control">
    @ViewBag.KategoriSayisi
</div>