
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme Layout'u</title>
</head>
<body>
    <div>
        div kelimesi Division'dan gelmektedir.
    </div>
    <div> 
        @RenderBody()     Bunu koymazsak, bu Layout'un kullanıldığı View sayfaları hata verir.
    </div>
</body>
</html>
